@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --there-bg:#FEFBFF;
  --item-bg:#F2ECEE;
  --mio-theme-color-surface-1:#f8f1f6;
  --theme-color-tertiary-container: #f1d3f9;
  --theme-color-on-surface-variant: #4d4256;
  --there-hover-coloer:#DCDAF5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--there-bg);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .font-variation-grads {
    font-variation-settings: "GRAD" 125;
  }
}
.getbg {
  background: url('/bggets.jpg');
  background-size: cover;
}
